<div class="title-container">
    <i style="float:right;">{{this.category}}</i>
    <h1 class="">{{this.brand}} {{this.item_name}} Size {{this.size}}</h1> 
</div>
<div>
    <center style="float:center;">
        <h2>${{{price}}}</h2>
    </center>
</div>
<div class="content">
    {{{description}}}
</div>